/* .navbar-nav .nav-link {
    color: white; 
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
  }
  
  .navbar-nav .nav-link:hover {
    color: black; 
    background-color: #03b4f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  } */